.employee__title {
  text-align: center;
  margin: 20px 0;
}

.employee__wrap {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
}

.employee__alphabet {
  width: 20%;
}

.employee__alphabet:not(:last-child) {
  margin-right: 20px;
}

.employee__list {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  list-style: none;
}

.employee__item {
  font-weight: bold;
}

.active {
  color: blue;
  font-weight: bold;
}
